.recipeIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 29%; /* explanation below */
  height: 250px;
  max-width: 405px;
  border: solid #414558 2px;
}
.recipeIcon-title {
  margin-top: 15px;
  font-size: medium;
  font-weight: bold;
  text-align: center;
}

.recipeIcon-extraDiets ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  max-height: 100px;
  margin-left: 0px;
  padding-left: 0px;
}
.recipeIcon-extraDiets ul li {
  font-weight: 600;
}
.detailLink {
  font-size: medium;
  font-weight: bold;
  padding-bottom: 10px;
}
.recipeIcon-diets {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}
