.container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  max-height: 100vh;
}
.filterAndPagin {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.extrafilter {
  display: flex;
  justify-content: space-around;
}
.recipes {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 5px;
}
.pagination h4 {
  padding-bottom: 2px;
  margin: 0px;
}
