.filterBar {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchAdd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.searchOrder {
  display: flex;
  justify-content: space-between;
  width: 500px;
}
.searchAdd h4 {
  margin: 0px;
}
.searchOrder button {
  width: 150px;
  font-size: medium;
}
.searchOrder div input {
  width: 150px;
  font-size: medium;
}
.filters {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
